@function color($option){
  @if $option == 'wc-red' { @return rgba(223, 80, 80, 1); }
@mixin triangles($position){
  &::#{$position}{
    position: relative;
    @if $position == "before" {
      top: -33px;
    } @else{
      top: 33px;
    }
    display: block;
    width: 100%;
    height: 13px;
    background: transparent asset-url("triangle/red.svg") repeat-x left top;
    content: "";
    z-index: 1;
  }
}