.page__main{
  @extend .page;
  @include triangles("after");
  background-color: color("wc.red");
  padding: 80px 0;
  @media (max-width: $bp2){
    padding: 30px 0;
  }
}

.page__references{
  @extend .page;
  height: 500px;
  background-color: rgba(0,0,0,.6);
}

.page__map{
  @extend .page;
  height: 95%;
}

.page__contact{
  @extend .page;
  @include triangles("before");
  background-color: color("wc.red");
  margin-top: -40px;
  padding: 30px 0;
}

@import "pages--contact";
