.logo{
  position: relative;
  margin: 0 auto;
}

.logo__big{
  @extend .logo;
  @extend .span-4-bp1, .span-4-bp2, .span-5-bp3;
  max-width: 350px;
}

.logo__small{
  @extend .logo;
  @extend .span-2-bp1, .span-3-bp2, .span-3-bp3;
  min-width: 150px;
  max-width: 200px;
}

.logo--graphic{  
  width: 100%;
}

.logo--caption{
  font-size: 1.1rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-weight: 600;
  font-size: 0.9rem;
}

@media (max-width: $bp3){
  .logo--caption{
    font-size: 0.8rem;
  }
}